Label {
    -fx-text-fill: #e1f5fe;
    -fx-font-family: "Roboto";
    -fx-font-size: 20;
}

FontIcon {
    -fx-icon-size: 22px;
    -fx-icon-color: #e1f5fe;
}

#main {
    -fx-background-color: #03a9f4;
}

#topHBox {
    -fx-padding: 5px;
}

#cityLabel {
    -fx-pref-height: 100%;
}

#refreshButtonIcon {
    -fx-icon-code: gmi-refresh;
}

#settingsButtonIcon {
    -fx-icon-code: gmi-more-vert;
}

#centerVBox {
    -fx-padding: 20;
}

#weatherHBox {
    -fx-padding: 10px;
}

#temperatureLabel {
    -fx-pref-height: 100%;
}

#weatherIcon {
    -fx-icon-size: 70px;
    -fx-icon-code: wi-cloud-refresh;
}

#windSpeedLabel {
    -fx-font-size: 30;
}

#windDirectionIcon {
    -fx-icon-size: 40px;
    -fx-icon-code: fa-long-arrow-up;
}

.popupButton {
    -fx-text-fill: black;
}

#infoLabel {
    -fx-font-size: 16;
}